cc.en.300.bin
cc.en.300.bin.gz
test.py
train.py
train1.py
train2.py
train4.py
train5.py
train7-1.py
train7-2.py
cnn-distil.ipynb
glove.6B.50d.txt
glove.6B.100d.txt
glove.6B.200d.txt
glove.6B.300d.txt
cc.en.300.bin
cc.en.300.bin.gz
.ipynb_checkpoints
train-cnn-distil-2.py
train-cnn-distil.py
train-cnn-fasttext-2.py
train-cnn-fasttext-4.py
train-cnn-fasttext-tuning.py
train-cnn-fasttext.py
train-LSTM-GloVe.py
train.py
tuner_dir
tuning